<%- include('./partials/header') %>

<div class="container">
  <div class="about-section">
    <h1>About This Application</h1>
    <p>This novel Password Manager will build on the provided user management and authentication. Key functionality includes:</p>
    
    <ul>
      <li>Remove and change passwords</li>
      <li>Encryption done client side</li>
      <li>Storage in mongoDB</li>
      <li>Password sharing</li>
      <li>Adding friends</li>
      <li>Groups for shared passwords</li>
      <li>Password complexity requirements</li>
      <li>Password generator</li>
      <li>Password change history</li>
    </ul>
    
    <p>This app is optimised for ease of use and utility.</
  </div>
  
  
</div>

<%- include('./partials/footer') %>