<%- include('../partials/header') %>
<body>
<button id = "add-new">Add New</button>

    
<% passwordList.forEach(password => { %>
<p><%= password.site %></p>
<p><%= password.password %></p>
<% })%>









</body>
<% include('../partials/footer') %>