<%- include('../partials/header') %>
<body>
<form action="/password/list" method = "POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    
    
    <div id="overlayForPassword">
    </div>
    <div id="popUpForm">
        <form>
        <input class="form-group" type="url" 
                id = "url" 
                name ="url" 
                placeholder="URL"
                >
        <input class="form-group" type="email" 
            id="email" 
            name ="email" 
            placeholder="Email" 
            required
            >
        <input class="form-group" type="password" 
            id = "password" 
            name ="password" 
            placeholder ="Password" 
            required minlength = "12"
            >
        <input class="form-group" type="text" 
            id = "note" 
            name = "note" 
            placeholder="Notes"
            >

        <div class="form-group">
            <input type="submit" value="Submit">
        </div>

        </form>
    </div>
    
    <button id = "addNew">
        <h3>Add New</h3>
        <script>
            const addNew = document.getElementById('addNew');
            const popUpForm = document.getElementById('popUpForm');

            addNew.addEventListener('click', () => {
            overlayForPassword.style.display = 'block';
            popUpForm.style.display = 'block';
            });

        </script>
    </button>



    
<% passwordList.forEach(password => { %>
<p><%= password.site %></p>
<p><%= password.password %></p>
<% })%>









</body>
<% include('../partials/footer') %>