<%- include('../partials/header') %>
<body>
<form action="/password/list" method = "POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <div class="form-group">
        <input type="email" 
            id="email" 
            name ="email" 
            placeholder="Email" 
            required
            >
    </div>
    
    
    <div class="form-group">
        <input type="password" 
            id = "password" 
            name ="password" 
            placeholder ="Password" 
            required minlength = "12"
            >
    </div>

    <div class="form-group">
        <input type="url" 
            id = "url" 
            name ="url" 
            placeholder="URL"
            >
    </div>
    <div class="form-group">
        <input type="text" 
            id = "note" 
            name = "note" 
            placeholder="Notes"
            >
    </div>
    
    <div class="form-group">
        <input type="submit" value="Submit">
    </div>
    
    
    
    
    
    <button id = "add-new">Add New</button>
</form>


    
<% passwordList.forEach(password => { %>
<p><%= password.site %></p>
<p><%= password.password %></p>
<% })%>









</body>
<% include('../partials/footer') %>